{% comment %}
*   
*   More Information › https://mathiasbynens.be/notes/touch-icons
*   About Apple touch icons › https://webhint.io/docs/user-guide/hints/hint-apple-touch-icons/
*   
{% endcomment %}


{% if site.favicon-32x32 %}
	{% comment %} Regular Old-Skool Favicon: {% endcomment %}
	<link rel="icon" sizes="32x32" href="{{ site.url }}/assets/img/{{ site.favicon-32x32 }}" />
{% endif %}


{% if site.touch-icon-192x192 %}
	{% comment %} For Chrome for Android: {% endcomment %}
	<link rel="icon" sizes="192x192" href="{{ site.url }}/assets/img/{{ site.touch-icon-192x192 }}" />
{% endif %}


{% if site.apple-touch-icon-180x180 %}
	{% comment %} For Apple: {% endcomment %}
	<link rel="apple-touch-icon" href="{{ site.url }}/assets/img/{{ site.apple-touch-icon-180x180 }}">
{% endif %}


{% if site.msapplication_tileimage %}
	{% comment %} Favicon for Windows 8 {% endcomment %}
	<meta name="msapplication-TileImage" content="{{ site.url }}/assets/img/{{ site.msapplication_tileimage }}" />
{% endif %}


{% if site.msapplication_tilecolor %}
	{% comment %} Background Color for Tile for Windows 8 {% endcomment %}
	<meta name="msapplication-TileColor" content="{{ site.msapplication_tilecolor }}" />
{% endif %}
